<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ButtonPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DBFC86B1BB3CC3500571532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DBFC8841BB3CC3500571532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DBFC88F1BB3CC3500571532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
